/*!
Section 3: Body
*/
@media only screen and (max-width: 40em) { 
.slider-container{padding: 0 0 3rem 0;}
}
@media only screen and (min-width: 40em) { 
.slider-container{min-height: 428px; padding: 0 0 3rem 0;}
}
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }